.content__container {
  width: 80%;
  margin: auto;
}

.parrafo_container {
  text-align: justify;
  color: #fff;
  font-size: 20px;
}

.parrafo {
  padding: 70px 35px;
  font-weight: 300;
  color: gray;
}

.container-md img {
  width: 100%;
  max-height: 650px;
}

/* .img_container {
  display: flex;
  justify-content: center;
} */

/* .img_container img {
  width: 80%;
  max-height: 700px;
} */

.title {
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  padding-top: 50px;
  padding-left: 30px;
}

.btn_container {
  width: 450px;
  padding: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn_container a {
  text-decoration: none;
  color: white;
}

.btn_container button {
  width: 120px;
  border-radius: 10px;
  background-color: #ffde59;
  border: none;
}

.btn_container button:hover {
  color: gray !important;
}

@media only screen and (max-width: 600px) {
  .btn_container {
    width: 80%;
  }
  /*  button {
    display: block;
  } */

  .parrafo_container {
  }
}
