:root {
  --font: "Dosis", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/flores.jpg);
  min-width: 400px;
}

/*-------------ESTILOS HEADER------------------------*/
.header {
  width: 100%;
}

.banner {
  width: 100%;
  height: 900px;
  min-height: 600px;
}

.logo__Container {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  width: 100%;
  min-width: 450px;
}

/*----------------------------------------------------*/

/*-------------ESTILOS NAV------------------------*/
.nav {
  background-color: #000000;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.menu {
  margin: auto;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

li a:hover {
  color: #ffde59;
}

/*----------------------------------------------------*/

/*-------------CAPA SUPERIOR BODY------------------------*/
.bodyMasc {
  width: 90%;
  margin-top: -5px;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.4);
}
/*----------------------------------------------------*/

/*-------------ESTILOS MAIN------------------------*/
main {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mainTxt {
  text-align: center;
  font-family: var(--font);
  letter-spacing: -1px;
  font-weight: 400;
}

.mainTxt h2 {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  padding: 60px 0;
}

.seccionUno__gridContainer {
  max-width: 900px;
  height: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.item1 {
  background-image: url(../img/1.jpg);
  background-size: cover;
}
.item2 {
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-position-y: center;
}
.item3 {
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-position-y: center;
}
.item4 {
  background-image: url(../img/4.jpg);
  background-size: cover;
  background-position-y: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.cardLink:hover {
  color: #ffde59;
}

.cardLink__separador {
  height: 2px;
  background-color: #fff;
  margin-top: 5px;
}

.itemTxt {
  width: 300px;
  height: 350px;
  position: relative;
}

.cardLink {
  font-family: var(--font);
  color: #fff;
  text-decoration: none;
  font-weight: 350;
  font-size: 30px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.seccionTres {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  max-width: 670px;
  height: 500px;
  border-radius: 2px;
  border: 0.5px solid #fff;
}

.newsLet {
  width: 330px;
  height: 250px;
  padding: 50px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.newsLet h3 {
  color: #fff;
  width: 100%;
  font-weight: 300;
  font-size: 21px;
  font-family: var(--font);
  text-align: center;
}

.newsLet label {
  color: #fff;
  width: 95%;
  font-weight: 300;
  font-size: 18px;
}

.inputBox {
  width: 100%;
  height: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.253);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 15px 5px;
  font-weight: 300;
}

.inputBtn {
  width: 100%;
  height: 35px;
  border: none;
  font-family: var(--font);
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  margin-top: 8px;
}

.inputBtn:hover {
  background-color: #ffde59;
}

.social a {
  text-decoration: none;
}

.social {
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.socialTxt p {
  font-family: var(--font);
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.socialIcon {
  display: block;
  font-size: 27px;
  color: #fff;
  padding: 12px;
}

.socialIcon:hover {
  color: #ffde59;
}

/*----------------------------------------------------*/

/*-------------ESTILOS FOOTER------------------------*/
footer {
  display: block;
  background-color: black;
  margin: auto;
  height: 200px;
}

footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 75px;
}

/*----------------------------------------------------*/
