* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/flores.jpg);
  min-width: 400px;
}

/*-------------ESTILOS HEADER------------------------*/
.header {
  width: 100%;
}

.banner {
  width: 100%;
  height: 900px;
  min-height: 600px;
}

.logo__Container {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  width: 100%;
  min-width: 450px;
}

/*----------------------------------------------------*/

/*-------------ESTILOS NAV------------------------*/
.nav {
  background-color: #000000;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.menu {
  margin: auto;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

li a:hover {
  color: #ffde59;
}

/*----------------------------------------------------*/

/*-------------CAPA SUPERIOR BODY------------------------*/
.body__Front {
  width: 80%;
  margin-top: -5px;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.4);
}
/*----------------------------------------------------*/

/*-------------ESTILOS MAIN------------------------*/
main {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mainTxt {
  width: 100%;
  display: block;
}

.mainTxt h2 {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  text-align: start;
  padding-left: 2em;
  padding-top: 50px;
  padding-bottom: 30px;
}

.seccionUno {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.seccionDos {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 60px;
}

.card1 {
  position: relative;
}

.card1 img {
  width: 345px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid rgb(73, 59, 38);
  transition: all 0.15s ease-in-out;
}

.card1 img:hover {
  transform: scale(0.97, 0.96);
}

.card1 h3 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

.card1 h3:hover {
  color: #ffde59;
  border-color: #ffde59;
}

.separador {
  width: 50%;
  height: 10px;
  border-top: 1px solid #fff;
  margin: auto;
  padding-bottom: 50px;
}

.separador1 {
  width: 50%;
  height: 80px;
  border-top: 1px solid #fff;
  margin: auto;
  margin-top: 100px;
}

.seccionTres {
  width: 700px;
  margin: auto;
  margin-top: 60px;
  border: 2px solid #ffde59;
}

.video {
  width: 100%;
  height: 446px;
}

.seccionCuatro {
  width: 100%;
}

.newsLet {
  width: 80%;
  height: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.newsLet h3 {
  color: #fff;
  font-weight: 300;
}

.newsLet label {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

.inputBox {
  height: 25px;
  color: #000000;
  background-color: #ffde59;
  border: none;
  border-radius: 6px;
  padding: 10px;
}

.inputBtn {
  width: 100px;
  height: 35px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 12px;
  background-color: #ffde59;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  transition: 0.3s;
}

.inputBtn:hover {
  background-color: #fff;
  color: gray;
}

/*----------------------------------------------------*/

/*-------------ESTILOS FOOTER------------------------*/
footer {
  display: block;
  background-color: black;
  margin: auto;
  height: 200px;
}

footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 75px;
}

/*----------------------------------------------------*/

/*-------------ESTILOS RESPONSIVE------------------------*/

@media only screen and (max-width: 850px) {
  .grid__container {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "header"
      "nav";
  }

  /*-------------ESTILOS HEADER------------------------*/

  .header {
    grid-area: header;
    height: 500px;
  }

  .banner {
    height: 500px;
  }

  .logo__Container {
    top: 25%;
  }

  /*-----------------------------------------------------*/

  /*-------------ESTILOS NAV------------------------*/

  .nav {
    margin-top: 20px;
    grid-area: nav;
    position: relative;
    height: 220px;
    background-color: black;
  }

  .nav li a:hover {
    color: #ffde59;
  }

  .menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  /*-----------------------------------------------------*/

  /*-------------ESTILOS MAIN------------------------*/

  .body__Front {
    width: 100%;
    margin-top: -60px;
  }

  .mainTxt h2 {
    text-align: center;
    padding-left: 0;
  }

  .seccionUno {
    width: 100%;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .seccionUno__hijo1 {
    padding-bottom: 10px;
  }

  .seccionDos__hijo3 {
    padding-bottom: 10px;
  }

  .seccionDos {
    width: 100%;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .card1 {
    margin: auto;
    position: relative;
    padding-bottom: 35px;
  }

  .card1 img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 2px;
  }

  .card1 h3 {
    position: absolute;
    bottom: 53px;
    left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
  }

  .seccionTres {
    width: 450px;
  }

  /*----------------------------------------------------*/
}

/*----------------------------------------------------*/
